<!-- Sidebar -->
<ul [ngClass]="{'toggled': tooggle}" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/admin">
        <div class="sidebar-brand-icon">
            <i class="fas fa-hospital"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Dental<sup>soft</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" routerLinkActive routerLink="/admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Admin</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" routerLinkActive routerLink="/admin/diagnostics">
            <i class="fas fa-fw fa-address-card"></i>
            <span>Diagnostics</span>
        </a>
    </li>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" routerLinkActive routerLink="/admin/patients">
            <i class="fas fa-fw fa-user"></i>
            <span>Patients</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" routerLinkActive routerLink="/admin/doctors">
            <i class="fas fa-fw fa-user-nurse"></i>
            <span>Doctors</span>
        </a>

    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" routerLinkActive routerLink="/admin/services">
            <i class="fas fa-fw fa-folder"></i>
            <span>Services</span>
        </a>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" routerLinkActive routerLink="/admin/schedule">
            <i class="fas fa-fw fa-table"></i>
            <span>Schedule</span></a>
    </li>

</ul>
<!-- End of Sidebar -->