<div class="row animate__animated animate__fadeIn">
    <div class="col-10  ml-5 mt-5">
        <a routerLink="/admin/diagnostic" type="button" class="btn btn-primary btn-lg mb-2"> Create</a>


        <div class="card">


            <div class="card-header">
                <h3 class="card-title">Diagnostics</h3>

                <br>
                <div class="input-group col-md-5 float-md-right float-lg-right float-right mb-1">
                    <input (keyup)="search(field.value)" type="text" value="" class="form-control" placeholder="Search" #field>
                    <div class="input-group-append">
                        <button (click)="search(field.value)" class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                    </div>
                </div>
                <br>
                <div *ngIf="loanding">
                    <app-loader> Loandin........ </app-loader>
                </div>
                <app-nodata *ngIf="diagnostics.length==0 && loanding==false"></app-nodata>

                <div class="card-body " *ngIf="diagnostics.length>0 && loanding==false">
                    <div class="table-responsive-sm table-responsive-md ">

                        <table class="table animate__animated animate__fadeIn">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Diagnostic</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let diagnostic of diagnostics| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize let i=index">

                                    <td>{{i+1}}</td>
                                    <td>{{diagnostic.no}}</td>
                                    <td>{{diagnostic.date}}</td>
                                    <td><button routerLink="/admin/diagnostic/{{diagnostic.id}}" type="button" class="btn btn-info"><i class="far fa-edit"></i> Edit</button></td>

                                </tr>

                            </tbody>
                        </table>

                    </div>

                    <ngb-pagination [pageSize]="5" [collectionSize]="diagnostics.length" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                </div>
            </div>
        </div>

    </div>